@model WebKursovaya.Models.Виды_услуг

@{
    ViewData["Title"] = "Подробности записи";
}

<h1>Подробности</h1>

<div>
    <h4>вида услуги</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Название_вида_услуги)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Название_вида_услуги)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Код_вида_услуги" class="btn btn-primary">Редактировать</a> |
    <a asp-action="Index" class="btn btn-dark">Вернуться к списку</a>
</div>
