@model WebKursovaya.Models.Должности

@{
    ViewData["Title"] = "Создание записи";
}

<h1>Создать</h1>

<h4>должность</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Название_должности" class="control-label"></label>
                <input asp-for="Название_должности" class="form-control" />
                <span asp-validation-for="Название_должности" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
