@model WebKursovaya.Models.Должности

@{
    ViewData["Title"] = "Подробности записи";
}

<h1>Подробности</h1>

<div>
    <h4>должности</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Название_должности)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Название_должности)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Код_должности" class="btn btn-primary">Редактировать</a> |
    <a asp-action="Index" class="btn btn-dark">Вернуться к списку</a>
</div>
