@model WebKursovaya.Models.Экзамены

@{
    ViewData["Title"] = "Редактирование записи";
}

<h1>Редактировать</h1>

<h4>запись об экзамене</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Код_экзамена" />
            <div class="form-group">
                <label asp-for="Заявитель" class="control-label"></label>
                <select id="ddlApplicant" asp-for="Код_заявителя" class="form-control" asp-items="@ViewBag.Код_заявителя"></select>
                <span asp-validation-for="Код_заявителя" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Дата_сдачи" class="control-label"></label>
                <input asp-for="Дата_сдачи" class="form-control" />
                <span asp-validation-for="Дата_сдачи" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сотрудник" class="control-label"></label>
                <select id="ddlMember" asp-for="Код_сотрудника" class="form-control" asp-items="@ViewBag.Код_сотрудника"></select>
                <span asp-validation-for="Код_сотрудника" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Категория" class="control-label"></label>
                <select id="ddlVehicleCategory" asp-for="Код_категории_ТС" class="form-control" asp-items="@ViewBag.Код_категории_ТС"></select>
                <span asp-validation-for="Код_категории_ТС" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Результат_сдачи" class="control-label"></label>
                <input asp-for="Результат_сдачи" class="form-control" />
                <span asp-validation-for="Результат_сдачи" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#ddlApplicant").select2();
            $("#ddlMember").select2();
            $("#ddlVehicleCategory").select2();
        });
    </script>
}
