@{
    ViewData["Title"] = "Главная";
}

<style>

    .btn-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Выравнивание кнопок по центру */
    }

    .btn-container a {
        width: 200px;
        margin: 5px; /* Равномерный отступ между кнопками */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


</style>

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        var nameMappings = new Dictionary<string, string>
    {
    { "Ivan_Ivanov", "Иван Иванов" },
    { "Sergey_Pavlov", "Сергей Павлов" },
    { "Roman_Romanovskiy", "Роман Романовский" },
    { "Alexey_Markin", "Алексей Маркин" },
    {"Admin", "Администратор"}
    };
        string displayName = nameMappings.ContainsKey(User.Identity.Name) ? nameMappings[User.Identity.Name] : User.Identity.Name;

        <h1 class="display-4">Добро пожаловать, @displayName!</h1>
        <img src="https://forma-odezhda.com/image/data/104/gai.gif">
        var roleClaim = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role");
        string role = roleClaim != null ? roleClaim.Value : "Роль не указана";

        var roleMappings = new Dictionary<string, string>
    {
    { "staff_member", "Сотрудник МРЭО" },
    { "leader", "Начальник МРЭО" },
    { "fd", "Сотрудник финансового отдела" },
    { "examiner", "Экзаменатор" },
    { "admin", "Администратор" },
    };

        // Если значение роли найдено в словаре, используем его, иначе используем значение по умолчанию
        string displayRole = roleMappings.ContainsKey(role) ? roleMappings[role] : role;
        <p>Ваша роль: @displayRole</p>
    }

    else
    {
        <div class="center-site">
            <h1 class="display-4">Добро пожаловать!</h1>
            <p>Для работы с системой Вам необходимо авторизоваться!</p>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <img src="https://forma-odezhda.com/image/data/104/gai.gif">
                <a href="https://localhost:7136/Account/Login" target="_blank" class="btn btn-primary mt-3">Войти в систему</a>
                <a href="https://localhost:7136/Form/Index" target="_blank" class="btn btn-primary mt-3">Форма заявления</a>
            </div>
        </div>
    }

    <div class="btn-container">
        @if (User.Identity.IsAuthenticated)
        {
            <a href="https://localhost:7136/Автошколы" target="_blank" class="btn btn-primary">Автошколы</a>
            <a href="https://localhost:7136/Виды_статусов_ВУ" target="_blank" class="btn btn-primary">Статусы ВУ</a>
            <a href="https://localhost:7136/Виды_статусов_заявлений" target="_blank" class="btn btn-primary">Статусы заявлений</a>
            <a href="https://localhost:7136/Виды_услуг" target="_blank" class="btn btn-primary">Виды услуг</a>
            <a href="https://localhost:7136/ВУ" target="_blank" class="btn btn-primary">ВУ</a>
            <a href="https://localhost:7136/ВУ_Категории_ТС" target="_blank" class="btn btn-primary">ВУ Категории ТС</a>
            <a href="https://localhost:7136/Документы_о_квалификации" target="_blank" class="btn btn-primary">Документы о квалификации</a>
            <a href="https://localhost:7136/Должности" target="_blank" class="btn btn-primary">Должности</a>
            <a href="https://localhost:7136/Запись_на_практический_экзамен" target="_blank" class="btn btn-primary">Запись на практический экзамен</a>
            <a href="https://localhost:7136/Заявители" target="_blank" class="btn btn-primary">Заявители</a>
            <a href="https://localhost:7136/Заявления" target="_blank" class="btn btn-primary">Заявления</a>
            <a href="https://localhost:7136/Категории_ТС" target="_blank" class="btn btn-primary">Категории ТС</a>
            <a href="https://localhost:7136/Мед_организации" target="_blank" class="btn btn-primary">Медицинские организации</a>
            <a href="https://localhost:7136/Паспорта" target="_blank" class="btn btn-primary">Паспорта</a>
            <a href="https://localhost:7136/Полы" target="_blank" class="btn btn-primary">Полы</a>
            <a href="https://localhost:7136/Сотрудники" target="_blank" class="btn btn-primary">Сотрудники</a>
            <a href="https://localhost:7136/Справки_уплаты_госпошлины" target="_blank" class="btn btn-primary">Справки уплаты госпошлины</a>
            <a href="https://localhost:7136/Стоимость_госпошлины" target="_blank" class="btn btn-primary">Стоимость госпошлины</a>
            <a href="https://localhost:7136/Формы_003_В_у" target="_blank" class="btn btn-primary">Мед. справки</a>
            <a href="https://localhost:7136/Экзамены" target="_blank" class="btn btn-primary">Экзамены</a>
            <a href="https://localhost:7136/Посещения" target="_blank" class="btn btn-primary">Посещения</a>
        }
    </div>
</div>
